[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
